# === Core Package Required ===
langchain
langchain-openai
langgraph
motor
langgraph-checkpoint-mongodb
langchain-mongodb[async]
pymongo[srv]

# === Backend ===
fastapi
uvicorn[standard]
pydantic
python-multipart