# === Core Package Required ===
langchain
langgraph
motor
langgraph-checkpoint-mongodb
langchain-mongodb[async]
pymongo[srv]

# === Backend ===
fastapi
uvicorn[standard]
pydantic
python-multipart

# === Frontend ===
streamlit
requests

-e .